---
sidebar_position: 1
---

# Understand your area

Open Hotspotty from the main landing page and you'll see the map of your area and the positioning and status of the hotspots within it.  

You need to understand the Hotspotty fundamentals to read the map. We also recommend to link to Discord and verify your wallet to get the most out of the Hotspotty analytics and location planning tools.

![Docs](/img/docs/getting-started/verify-your-wallet/understand-your-area1.png)

## Hotspot analytics 

Zoom in and out the map using the + / - symbols at the top right corner. When you zoom out sufficiently you will see the purple hex that defines the outter borders of the area that's being analysed. You can move the purple hex or use the magnifing glass to search for specific locations, hotspots or contacts and the map will move to the desired location when you press enter.  

Every circle on the map represents a hotspot as it is asserted in the Helium network. The color represents a hotspot's status within the network. 

- Green - the hotspot is online and has an excellent transmit scale
- Yellow - the hotspot is online and has a mediocre transmit scale 
- Orange - the hotspot is online and has a poor transmit scale
- Purple - the hotspot is offline or has recently been offline and is currently syncing

If you want a detailed understanding of a hotspot's reward scale and how you can improve your reward potential see

[Optimise your earnings and reward scaling](../expand-the-network/optimise-you-earnings-and-reward-scaling.md)

When you click on an individual Hotspot and you see its analytics including rewards, reward scaling, hotspots witnessed and other information. 

You can contact a hotspot's owner under Contact Owner tab when you click on an individual hotspot. We recommend that all users connect to Discord and verify their wallets to enable a smooth and easy communication among hotspot owners globally. 

See more on [Verify your wallet](verify-your-wallet.md)

