---
sidebar_position: 1
---

# Understand your area

Open Hotspotty from the main landing page and you'll see the map of your area and the positioning and status of the hotspots within it.

You need to understand the Hotspotty fundamentals to read the map. We also recommend to link to Discord and verify your wallet to get the most out of the Hotspotty analytics and location planning tools.

![Docs](/img/getting-started/understand-your-area1.png)

## Hotspot analytics

Zoom in and out the map using the + / - symbols in the top right corner. When you zoom out sufficiently you will see the purple hex that defines the outer borders of the area that's being viewed. You can move the purple hex or use the magnifing glass to search for specific locations, hotspots or contacts. The map will move to the desired location, hotspot or contact when you press enter.

Every dot on the map represents a hotspot as it is asserted in the Helium network. The color of the dot corresponds with the hotspot status within the network. For example, a green dot shows an active hotspot with excellent transmit scale.

- Green - the hotspot is online and has an excellent transmit scale
- Yellow - the hotspot is online and has a mediocre transmit scale
- Orange - the hotspot is online and has a poor transmit scale
- Purple - the hotspot is offline or has recently been offline and/or is currently syncing

If you want a detailed understanding of the hotspots' reward scale and how you can improve your reward potential see

[Optimize your earnings and reward scaling](../expand-the-network/optimize-your-earnings-and-reward-scaling)

Click on an individual Hotspot and you'll see its analytics including hotspot status, rewards, reward scaling, hotspots witnessed and other information.

![Docs](/img/getting-started/understand-your-area2.png)

You can contact a hotspot's owner under Contact Owner tab when you click on an individual hotspot. We recommend that all users connect to Discord and verify their wallets to enable a smooth and easy communication among hotspot owners globally.

See more on [Add your HNT wallet](./add-your-HNT-wallet.md)

## Regional dashboard

You can also analyze and compare hotspot performance in any given geographic area. Go to Map and press the Region Dashboard in the bottom right corner.

![Docs](/img/getting-started/dashboard-region-4.png)

The region dashboard shows hotspot performance within the area including the HNT rewards generated and a list of hotspots that require attention.

![Docs](/img/getting-started/dashboard-region-5.png)
